src/main/resources/xsd/shapetool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.woldia.edu/shapetool"
           xmlns:tns="http://www.woldia.edu/shapetool"
           elementFormDefault="qualified">

    <!-- Reusable positive double type with restriction -->
    <xs:simpleType name="PositiveDouble">
        <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/> <!-- Prevents zero and negative -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Circle -->
    <xs:element name="circleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="radius" type="tns:PositiveDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="circleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Square -->
    <xs:element name="squareAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="side" type="tns:PositiveDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="squareAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Rectangle -->
    <xs:element name="rectangleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="length" type="tns:PositiveDouble"/>
                <xs:element name="width" type="tns:PositiveDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="rectangleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Parallelogram -->
    <xs:element name="parallelogramAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base" type="tns:PositiveDouble"/>
                <xs:element name="height" type="tns:PositiveDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parallelogramAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Triangle -->
    <xs:element name="triangleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base" type="tns:PositiveDouble"/>
                <xs:element name="height" type="tns:PositiveDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="triangleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>